*{
    margin: 0px;
    padding: 0px;
}

/*NavBar*/
nav{
    
    width: 100%;
    background-color: black;
    border-bottom: solid grey;
    opacity: .9;


/*Alineando el texto de la barra*/
display: flex;
align-items: center;
justify-content: start;



}

nav img{
    height: 70px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px ;
   
}
/* End navbar */

    
 

/* Section 1*/  
#home-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-image: url("../../assets/img/background1.jpg");
    border-bottom: solid grey;
    background-size: 100% 100%;
   
}


#home-hero  div h1{
    font-size: 70px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#home-hero div p{
    font-size: 40px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#home-hero img{
    width: 500px;
}
/*End Section 1*/

/* Section 2*/

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


   
    background-color: black;
    height: 300px;
    width: 100%;
    

}

.container div h1{
    padding-left: 20px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.container div p{
    padding-left: 20px;
    margin-top: 20px;
    color: white;
    width: 600px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.container img{
    padding-right: 30px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
}

/* End Section 2*/

/* Section 3 align to section 2*/

.container2{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;


   
    background-color: black;
    height: 300px;
    width: 100%;
    border-bottom: solid grey;
 

}

.container2 h1{
    
    padding-left: 30px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.container2 p{
    padding-left: 30px;
    margin-top: 20px;
    color: white;
    width: 600px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.container2 img{
    padding-right: 30px;
    width: 350px;

    margin-left: 150px;
}

/* End Section 3*/

/* Section 4 Intereses*/

.container3 {
    display: grid;
    grid-template-rows: 60px 350px;
   

    background-image: url("https://media.istockphoto.com/photos/gray-abstract-minimal-motion-backgrounds-loopable-elements-4k-picture-id1174989482?b=1&k=20&m=1174989482&s=170667a&w=0&h=ld7ukW9KTzUlJLc6c37C2xs5ESYP2wLyjxsEVCumn2s=");
    background-size: 100% 100%;

}

.box1{
    display: flex;
    align-items: center;
    justify-content: center;

  
    grid-column: 1/3;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;


    grid-column: 1/2;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 80px;
}

.box2 h1{
    padding: 20px;
    
}


.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3; 
}

.box3 img{
    height: 200px;
    padding-right: 50px;
}






/* Phone device */
@media (min-width: 320px) and (max-width: 480px) {
 
/*NavVar*/
nav img{
    height: 30px;
    padding-left: 30px;
}
/*Section1*/
#home-hero  div h1{
    font-size: 30px;
}
#home-hero img{
    width: 120px;
    padding-right: 5px;
}
#home-hero div p{
    font-size: 15px;
}
#home-hero{
    height: 200px;
}
/*Section2*/
.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 100%;
}
.container div h1{
    padding-left: 50px;
    font-size: 15px;
}

.container div p{
    padding-left: 50px;
    margin-top: 10px;
    color: white;
    width: 200px;
    font-size: 15px;
}
.container img{
    width: 200px;
    padding:0px;

}
/*Section4*/

.container3 {
    display: grid;
    grid-template-rows: 40px 200px;

}

.box1{
    grid-column: 1/3;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.box2{
font-size: 10px;
padding-left: 0px;
}

.box3 img{
    height: 150px;
    padding-right: 50px;
}
}